/*MEDIA QUERIES*/

@media only screen and (max-height: 68.75em) {
	.badge-icon-img { max-width: 12em; }
	.demo .demo-wrap { width: 18.75em; }
	.badge-content { width: 18.75em; }
}

@media only screen and (max-height: 64.0625em) {
	.wrap { max-width: 1024px; }
	.demo { padding-top: 1.5em; }
	.demo .demo-wrap { width: 18em; }
	.badge-content { width: 18em; }
}

@media only screen and (max-height: 59.375em) {
	.demo .demo-wrap { width: 17em; }
	.badge-content { width: 17em; }
}

@media only screen and (max-height: 53.125em) {
	.badge-icon-img { max-width: 10em; }
	.badge-content h2 { font-size: 2.5rem; }
	.badge-content p { font-size: 1rem; }
}

@media only screen and (max-height: 46.875em) {
	.wrap { max-width: 800px; }
	.demo { padding-top: 0; }
	.demo .demo-wrap { width: 15em; }
	.badge-content { width: 15em; }
}

@media only screen and (max-width: 101.87em) {
	#welcome .badge-icon-img { max-width: 12em; margin-bottom: 1rem; padding-right: 2rem; }
	#welcome .badge-content h1 { font-size: 2rem; }
	#welcome .badge-content p { font-size: 1rem; }
}

@media only screen and (max-width: 85em) {
	.wrap { max-width: 1024px; }
	#welcome .wrap, #welcome .width-wrap { width: 85%; }
	#welcome .badge-icon-img { padding-right: 1rem; }
	.badge-icon-img { max-width: 10em; }
	.badge-content h2 { font-size: 2.5rem; }
	.badge-content p { font-size: 1rem; }
}

@media only screen and (max-width: 67.5em) {
	.wrap { max-width: 960px; }
	#welcome .badge-content { padding-right: 0; }
	#welcome .demo .demo-wrap { padding-left: 0; }
}

@media only screen and (max-height: 52.5em) {
	.wrap { max-width: 900px; }
	.demo .demo-wrap { width: 15.5em; }
	.badge-content { width: 15.5em; }

	#fp-nav.right { right: 20px; }
}

@media only screen and (max-height: 45.625em) {
	.wrap { max-width: 800px; }
	.demo .demo-wrap { width: 13em; }
	.badge-content { width: 13em; }

	.demo .demo-wrap { padding-top: 1px; }
}

@media only screen and (max-height: 41.688em) {
	.wrap { max-width: 740px; }
}

@media only screen and (max-width: 87.5em) {
	#fp-nav.right { right: 20px; }
}

@media only screen and (max-width: 75em) {
	#welcome .demo-right { padding-top: 10rem; }
}

@media only screen and (max-height: 59.375em) {
	#welcome .right.demo { padding-top: 8rem; }
}

@media only screen and (max-width: 64em) {
	.wrap { max-width: 740px; }
	.demo .demo-wrap { width: 17em; padding-left: 2em; padding-top: 1px; }
	.badge-content { width: 17em; padding-right: 2em; }
}

@media only screen and (max-width: 61.25em) {
	.badge-content p { font-size: 1.2rem; line-height: 1.4; }
}

@media screen and (orientation:portrait) {
	#fp-nav.right { right: 20px; }
	.phone-screen { height: 71.0702%; left: 6.8248%; top: 16.55%; width: 83.6196%; }
	#welcome .right.demo { padding-top: 0; -webkit-transform: translate(0px, 30%); transform: translate(0px, 30%); }
}

@media only screen and (max-width: 46.25em) {
	body { background-color: #f0f0f0!important; }
	#header { position: relative; height: auto; top: auto; left: auto; margin-top: 20px; }

	.section { padding: 30px 0 80px 0; }
	.fp-tableCell { background-image: url("../../../../../images/shape-bg-small.png"), url("../../../../../images/confetti-bg.png"); background-position: 0 0; background-repeat: repeat; }
	#welcome .fp-tableCell { background: none; }
	#slider .section-inner { opacity: 1; }
	#find { background-color: #ee6363; }
	#game { background-color: #875f7f; }
	#win { background-color: #3fb2a8; }
	#claim { background-color: #f0b036; }
	#contact { background-color: #33324c; }

	.demo, .badge-content { display: block; width: 100%; position: relative; top: auto; left: auto; }
	.demo { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
	.demo .demo-wrap { padding-left: 0; margin: 0 auto; }
	.demo { padding-bottom: 40px; padding-top: 20px; }
	.phone-screen-wrap { border: 0; border-radius: 0;  }
	.demo video { display: none; }
	.demo .phone-screen-wrap img { border: 1px solid #3a454b; border-radius: 3px; }

	.badge { padding: 0 1.5em; }
	.badge-content { margin: 0 auto; padding: 0; }
	.badge-icon-img { max-height: none; max-width: 10em; width: 100%; height: auto; }
	.badge-content { text-align: center; margin-top: 2em; }
	.badge-content h2 { margin-bottom: 0.5em; }
	.demo.right .demo-wrap { float: none; }

	#welcome .badge-icon-img { padding-right: 0; }
	#welcome .badge-content h1, #welcome .badge-content p { text-align: center; }
	#welcome .left.badge { width: 100%; }
	#welcome .badge-content { padding-top: 0; max-width: none; float: none; }
	#welcome { padding-bottom: 100px; }
	#slider #welcome[style], #slider #welcome .fp-tableCell { height: auto!important; }
	#welcome .hero-wrapper { display: none; }
}

@media only screen and (max-width: 22.188em) {
	.wrap { padding: 0; }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.demo video { display: none; }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	.demo video { display: none; }
}
