body, h1, h2, p {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: rgb(222, 222, 222);
    font: 12px Arial, sans-serif;
}

.container {
    width: 800px;
    background-color: white;
    margin: 40px auto 40px;
    border-left: 20px solid rgb(214, 146, 16);
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    overflow: hidden;
}

.left {
    width: 300px;
    float: left;
    background-color: rgb(46, 47, 49);
    padding-bottom: 40px;
}

.my-photo-border {
    width: 240px;
    height: 240px;
    border: 10px solid rgb(214, 146, 16);
    -webkit-border-radius: 130px;
    -moz-border-radius: 130px;
    border-radius: 130px;
    margin: 20px 20px;
    overflow: hidden;
}

.my-photo {
    width: 220px;
    height: 220px;
    border: 10px solid rgb(46, 47, 49);
    border-radius: 115px;
    overflow: hidden;
}

.my-name {
    margin-top: 12px;
}

.my-name h1 {
    font-size: xx-large;
    font-weight: lighter;
    text-align: center;
}

.first-name h1 {
    color: rgb(214, 146, 16);
}

.family-name h1 {
    color: white;
}

.family-name h1 span {
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(125, 95, 54);
}

.my-profession {
    text-align: center;
}

.my-profession h2 {
    color: white;
    margin: 5px;
    font-size: large;
    font-weight: lighter;
}

.hr-in-left {
    margin: 20px 20px;
    border: 1px solid rgb(55, 56, 58);
}
.hr-in-right {
    margin: 20px 20px;
    border: 1px solid rgb(230, 230, 230);
}

.my-contact {
    color: white;
}

.my-contact ul {
    list-style: none;
}

.my-contact ul li {
    display: block;
    line-height: 35px;
    height: 35px;
}

.in-line-font-icon {
    color: white;
    text-align: center;
    background-color: rgb(214, 146, 16);
    display: inline-block;
    vertical-align: middle;

}

.left-list .selected {
    color: rgb(214, 146, 16);
}

.my-contact .in-line-font-icon {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    border-radius: 15px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.left-list {
    margin-left: 30px;
}

.left-list h2 {
    height: 50px;
    line-height: 50px;
    font-size: large;
    color: white;
}

.left-list .in-line-font-icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    border-radius: 25px;
    margin-right: 25px;
}

.left-list .dd-list dt, .left-list .dd-list dd {
    margin: 0;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 45%;
    color: white;

}

.right {
    width: 500px;
    padding-left: 300px;
    margin-top: 100px;
}

.right-content {
    margin-top: 20px;
}

.right-block {
    color: rgb(152, 152, 152);
    margin: 40px 40px;
}

.right-block h2 {
    color: black;
    height: 60px;
    line-height: 60px;
}

.right-block .right-title1 .in-line-font-icon {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    color: white;
    font-size: 50px;
    margin-right: 20px;
}

.right-block .right-content {
    margin-left: 20px;
}

.right-block .right-content .right-title2 {
    color: black;
    font-size: larger;
    width: 90%;
}

.right-block .right-content .right-title2 dl {
    margin: 20px 0 0;
}

.right-block .right-content .right-title2 dl dt, .right-block .right-content .right-title2 dl dd {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 45%;
}

.right-block .right-content .right-title2 dl dd {
    color: #cccccc;
    font-size: 12px;
}
